<app-header></app-header>
<div class="container">
    <div class="intro-section">
        <h1>This is detail product</h1>
        <p>order</p>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h2 class="product-header">Info user</h2>
            <form>
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" id="name" placeholder="Name">
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" placeholder="Email">
                </div>
                <div class="mb-3">
                    <label for="phone" class="form-label">Phone</label>
                    <input type="text" class="form-control" id="phone" placeholder="Phone">
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <h2 class="product-order">Product order</h2>
            <table>
                <thead>
                    <tr>
                        <th scope="col" class="text-start">Product</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Price</th>
                        <th scope="col">Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div class="product-info">
                                <img src="https://images.pexels.com/photos/434346/pexels-photo-434346.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="product" class="product-image">
                                <span class="product-name">Product name</span>
                            </div>
                        </td>
                        <td>2</td>
                        <td>$100</td>
                        <td>$200</td>
                    </tr>

                    <tr>
                        <td>
                            <div class="product-info">
                                <img src="https://images.pexels.com/photos/434346/pexels-photo-434346.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="product" class="product-image">
                                <span class="product-name">Product name</span>
                            </div>
                        </td>
                        <td>2</td>
                        <td>$100</td>
                        <td>$200</td>
                    </tr>
                </tbody>
            </table>
            <div class="text-start mt-3">
                <h4 class="header-text text-end">Total: $400</h4>
            </div>
            <div class="mt-3">
                <h4 class="product-header">Input coupon</h4>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Coupon code">
                    <button class="btn btn-gradient" type="button">Apply</button>
                </div>
            </div>
            <div class="text-start mt-3">
                <button class="btn btn-gradient">Order</button>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
