<app-header></app-header>
<div class="container">
    <div class="intro-section">
        <h1>Home</h1>
        <p>Danh sach san pham</p>
        <p>Mua hang tai day</p>
    </div>

    <div class="search-box">
        <input type="text" class="form-control search-input" placeholder="Search Product">
        <select class="form-control product-category">
            <option selected disabled>Category</option>
            <option>Electronic</option>
            <option>Fashion</option>
            <option>Car</option>
        </select>
    </div>

    <div class="row">
        <div class="col-lg-4 col-md-6">
            <div class="product-item">
                <img src="https://images.pexels.com/photos/434346/pexels-photo-434346.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                    alt="" class="product-imgage">
                <h3 class="product-name">Product 1</h3>
                <p class="product-discription">abcxyz</p>
                <p class="product-warranty">Bao hanh 12 thang</p>
                <p class="product-price"> <del>1500$</del> 1000$</p>
                <div class="product-rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <div class="product-action">
                    <button class="btn btn-primary">Add to cart</button>
                    <span class="space-x"></span>
                    <button class="btn btn-success">Buy</button>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6">
            <div class="product-item">
                <img src="https://images.pexels.com/photos/434346/pexels-photo-434346.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                    alt="" class="product-imgage">
                <h3 class="product-name">Product 1</h3>
                <p class="product-discription">abcxyz</p>
                <p class="product-warranty">Bao hanh 12 thang</p>
                <p class="product-price"> <del>1500$</del> 1000$</p>
                <div class="product-rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <div class="product-action">
                    <button class="btn btn-primary">Add to cart</button>
                    <span class="space-x"></span>
                    <button class="btn btn-success">Buy</button>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6">
            <div class="product-item">
                <img src="https://images.pexels.com/photos/434346/pexels-photo-434346.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                    alt="" class="product-imgage">
                <h3 class="product-name">Product 1</h3>
                <p class="product-discription">abcxyz</p>
                <p class="product-warranty">Bao hanh 12 thang</p>
                <p class="product-price"> <del>1500$</del> 1000$</p>
                <div class="product-rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <div class="product-action">
                    <button class="btn btn-primary">Add to cart</button>
                    <span class="space-x"></span>
                    <button class="btn btn-success">Buy</button>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6">
            <div class="product-item">
                <img src="https://images.pexels.com/photos/434346/pexels-photo-434346.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                    alt="" class="product-imgage">
                <h3 class="product-name">Product 1</h3>
                <p class="product-discription">abcxyz</p>
                <p class="product-warranty">Bao hanh 12 thang</p>
                <p class="product-price"> <del>1500$</del> 1000$</p>
                <div class="product-rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <div class="product-action">
                    <button class="btn btn-primary">Add to cart</button>
                    <span class="space-x"></span>
                    <button class="btn btn-success">Buy</button>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6">
            <div class="product-item">
                <img src="https://images.pexels.com/photos/434346/pexels-photo-434346.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                    alt="" class="product-imgage">
                <h3 class="product-name">Product 1</h3>
                <p class="product-discription">abcxyz</p>
                <p class="product-warranty">Bao hanh 12 thang</p>
                <p class="product-price"> <del>1500$</del> 1000$</p>
                <div class="product-rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <div class="product-action">
                    <button class="btn btn-primary">Add to cart</button>
                    <span class="space-x"></span>
                    <button class="btn btn-success">Buy</button>
                </div>
            </div>
        </div>

    </div>

</div>

<app-footer></app-footer>